li {
    list-style: none;
}

h1, p {
    text-align: center;
}

.website-list-item:hover, .feature-list-item:hover {
    background-color: #eee;
}

.website-list-item:active {
    font-family: sans-serif, Helvetica;
    font-size: 18px;
}