h1, h2, h3 {
    color: #f00;
}

h1 em, h2 em, h3 em {
    font-size: 40px;
    border: 1px solid #000;
}

li {
    font-size: 20px;
}

li em {
    font-weight: bold;
}

ol li {
    background-color: #ff0;
}

ol li:nth-child(even) {
    color: #008000;
}

ol li:nth-child(odd) {
    text-transform: uppercase;
}